
*{
    box-sizing: border-box;
  }
  body{
    height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0, .6), rgb(0, 0, 0, .6)), url("techimg.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  
  }

.background-clip {
    position: fixed; 
    top: 50%; 
    left: 50%;
    min-width: 100%; 
    min-height: 100%; 
    z-index: -1; 
    transform: translate(-50%, -50%); 
    overflow: hidden;
     
}

.hero-section{
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.hero-section .quotes{
  color: #fff;;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.hero-section .quotes p{
  font-weight: 300;
  margin-top: 15px;
  max-width: 600px;
  font-size: 1.5rem;
}


.hero-section .quotes{
  text-align: center;
}

.hero-section .quotes :is(h1,p){
  max-width: 100%;
}

.hero-section .quotes h1{
  font-size: 2rem;
  max-width: 100%;
}

  @media screen and (max-width: 900px){
    .hero-section{
        margin-top: -300px;
    }
    .hero-section .quotes p{
      font-size: 1rem;
    }
}
  